.project-detail-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .project-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .project-description {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .project-pdf-link,
  .project-github-link {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .project-pdf-link:hover,
  .project-github-link:hover {
    background-color: #0056b3;
  }
  
  .back-to-home {
    display: inline-block; 
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    background-color: #0366d6;
    text-decoration: none;
    border: 1px solid #0356c6;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-top: 20px; 
  }
  
  .back-to-home:hover {
    background-color: #0249a1; 
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); 
  }
  
  .back-to-home-wrapper {
    text-align: center;
    margin-top: 20px; 
  }


.collapsible-section {
  background-color: #e7f1ff; 
  color: #0366d6; 
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 10px; 
  transition: background-color 0.3s; 
}


.content {
  padding: 0 18px 18px; 
  display: block; 
  background-color: #f9f9f9; 
  border-radius: 0 0 8px 8px; 
}


.collapsible-section.active + .content {
  display: block; 
  padding: 18px; 
  animation: fadeIn 0.3s ease-in-out; 
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.project-pdf-link,
.project-github-link {
  border-radius: 4px; 
  font-weight: 500; 
}


.content h2 {
  font-size: 1.5rem; 
  color: #333; 
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold; 
}

.content h3 {
  font-size: 1.25rem; 
  color: #444;
  margin-top: 15px;
  margin-bottom: 8px;
  font-weight: normal; 
}


.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-description {
  margin-top: 15px; 
  font-size: 1em; 
  color: #333; 
  text-align: center;
}
